@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Shopping</h3>
    <img src="/images/shop.png" width="300px" height="300px" class="img-fluid" asp-append-version = "true" />
</div>
